body {
    font-family: "merwede", sans-serif;
    margin: 0;
}

/*header information */
header {
    background-color: #E0D253;
    padding: 2rem 10px;
    text-align: center;
}

header span {
    color: #2A7145;
    font-size: 3rem;
    font-weight: 700;
}


/* nav information*/
nav {
    background-color: #C78785;
}

nav ul {
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    display: flex;
}

nav a {
    display: block;
    padding: 1rem 1rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.3rem;
    color: #253D33;
    font-weight: 700;
}

nav li.active a {
    background-color: #253D33;
    color: #E0D253;
}

nav li a:hover {
    color: #E0D253;
}

/*main body information*/
main {
    padding: 1rem 10px;
}

main h1 {
    color: #2A7145;
     margin-left: 1rem;
}

main h2 {
    color: #49A360;
    margin-bottom: .2rem;
    margin-left: 1rem;
}

main h3 {
    color:#49A360;
    margin-left: 1rem;
}
main p {
    margin: 0;
    color: #333;
     margin-left: 1rem;
}

main ol {
    padding: .5rem 30px;
    margin-left: 1rem;
    background-color: #C78785;
    border-radius: 10px;
    border: 2px solid #253D33;
    width: 200px;
}

main dl dt {
    color: #333;
    font-weight: 700;
    margin-top: 1rem;
    margin-left: 1rem;
    text-decoration: underline;

}

main dl dd {
    color: #253D33;
    font-size: .9rem;
    margin-left: 1rem;

}

main ul {
    list-style-type: square;
}

main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    margin-left: 1rem;
    font-size: .9rem;
}

main strong {
    font-weight: 700;
    color: black;
}

main em {
    font-weight: 300;
}

main address {
    font-style: normal;
    background-color: #E0D253;
    margin-left: 1rem;
    padding: .5rem;
    border-radius: 10px;
    border: 3px solid #2A7145;
    width: 750px;
}

main a {
    color: #2A7145;
}

main a:hover {
    color: #C78785;
}

/* footer information */
footer {
    background-color: #C78785;
    text-align: center;
    padding: 1rem 0;
    font-size: .8rem;
    color: #253D33;
}

footer p {
    margin: 0;
    letter-spacing: 2px;
}